body {
    background: #f8f9fa;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    margin: 1em 0;
    justify-content: space-evenly;
}

.welcome-home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about {
    margin: 0 1em;
    margin-top: 5em;
}

.form {
    margin: 0 1em;
    margin-top: 8em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin-bottom: 1em;
}

.media div h5 {
    font-weight: bold;
}

.media div p {
    font-family: Times New Roman, Georgia, serif;
}

.about h2 {
    font-weight: bold;
    font-family: Times New Roman, Georgia, serif;
}